body{
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: black;
	background: linear-gradient( 319.6deg, rgba(243,0,79,1) 20.5%, rgba(255,236,68,1) 110.9% );
	background-size: 400% 400%;
	animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1{
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: white;
	font-size: 60px;
	margin-bottom: -100;
}
#container{
	width: 1000px;
	height: 550px;
	margin: 105px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #1e272e;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
}
#result{
	height: 150px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
	color: white;
}
#keyboard{
	height: 400px;
	background-color: #1e272e;
	color: white;
	margin-top: -30px;
}
.operator, .number, .empty{
	width: 60px;
	height: 60px;
	margin:10px;
	float: left;
	border-radius: 40%;
	border-width: 0;
	font-weight: 700;
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.number, .empty{
	background-color: #353b48;
	color: white;
}
.number, .operator{
	cursor: pointer;
	background-color: #485460;
	color: white;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #ffa502;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa502;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #ffa502;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #ffa502;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #2ed573;
}